.threadCards {
  width: 650px;
  margin: 10px auto;
}
.threadTags {
  border: var(--border-color) solid 1px;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.threadTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}
.threadTitle > a {
  text-decoration: none;
}
.threadContents {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.threadFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.threadFooter > .UpdatedAt {
  margin-right: 10px;
}
.thread-action-button {
  display: flex;
  flex-direction: row;
  width: 150px;
  margin-right: 30px;
}
