.detailThreadCards {
  margin-top: 90px;
  width: 100%;
}
.detailThreadTags {
  border: var(--border-color) solid 1px;
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}
.detailThreadTitle {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.detailthreadContents {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  text-overflow: ellipsis;
}
.detailthreadFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}
.detailthreadFooter > .UpdatedAt {
  margin-right: 10px;
}
.thread-action-button {
  display: flex;
  flex-direction: row;
  width: 150px;
  margin-right: 30px;
}
.detailThreadComments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 55px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.addNewCommentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 100%;
}
.addNewCommentTitle {
  margin-bottom: 10px;
}
.addNewCommentTitle > h5 {
  font-size: 20px;
  font-weight: 600;
}
.addNewCommentContainerInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.addNewCommentContainerInput > textarea {
  width: 100%;
  height: 150px !important;
  border: var(--border-color) solid 1px;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}
.addNewCommentContainerInput > button {
  width: 100%;
  height: 40px;
  border: var(--border-color) solid 1px;
  border-radius: 5px;
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.addNewCommentContainerInput > button:hover {
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  box-shadow: 0px 0px 5px 0px var(--button-background-color);
}
.detailThreadCommentsBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  width: auto;
}
.detailThreadCommentsBodyContainerUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.detailThreadCommentsBodyContainerUser > img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 20px;
}
.detailThreadCommentsBodyContainerUser > h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 0px;
}
.detailThreadCommentsBodyContainerComment {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 10px;
}
.detailThreadCommentsBodyContainerComment > .comment-content {
  margin-left: 20px;
  font-size: 15px;
  font-weight: 400;
  margin-right: 25px;
  width: 500px;
}
.detailThreadCommentsBodyContainerAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.detailthreadFooter > .threads-owner > .Creator > .userIcon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 5px;
}
