.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 30px 8px 13px;
  background-color: #222831;
  color: #fff;
}
.title-container {
  margin-left: 50px;
}
.search-bar-container > .search-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.02);
  width: 300px;
  color: #fff;
}
.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.menu-container:hover {
  cursor: default;
}
.menu-container > .theme {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.menu-container > .user {
  margin-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: transparent;
  border: none;
}

.menu-container > .user > .dropdown > .dropdown-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.02);
  border: none;
}
.menu-container > .user > .dropdown > .dropdown-toggle:hover {
  box-shadow: rgba(217, 217, 217, 0.02) 0px 0px 10px !important;
}
.menu-container > .user > .dropdown > .dropdown-menu {
  background-color: rgba(217, 217, 217, 0.1) !important;
  border: none;
}
.menu-container > .user > .dropdown > .dropdown-menu > li > .dropdown-item {
  color: #fff !important;
}
.menu-container
  > .user
  > .dropdown
  > .dropdown-menu
  > li
  > .dropdown-item:hover {
  background-color: rgba(217, 217, 217, 0.2) !important;
  box-shadow: rgba(217, 217, 217, 0.02) 0px 0px 10px !important;
}
.menu-container > .user > .dropdown > .dropdown-toggle > .user-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #d9d9d9;
  margin-right: 5px;
}
.menu-container > .user > .dropdown > .dropdown-toggle > .user-name {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.title-link {
  text-decoration: none;
  color: #fff;
}
.title-link:hover {
  color: #fff;
}
.menu-container > .user > .login-btn {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--header-background-color);
  color: var(--header-font-color);
  text-decoration: none;
}
.menu-container > .user > .login-btn:hover {
  box-shadow: var(--header-button-box-shadow) 0px 0px 5px;
  cursor: pointer;
}
