.CategoryCards {
  background-color: transparent !important;
  margin-top: 90px;
  border: none !important;
  width: 350px;
}
.CategoryCards-tags > .Tags-item {
  color: var(--button-font-color);
  background-color: var(--button-background-color);
  border: none;
  width: max-content;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
  margin: 5px;
  transition: var(--transition);
}
.CategoryCards-tags > .Tags-item:hover {
  box-shadow: var(--button-background-color) 0px 0px 10px 0px;
  color: var(--button-font-color);
  cursor: pointer;
}
.item-active {
  background-color: var(--button-background-color-active) !important;
  color: var(--button-font-color-active) !important;
  box-shadow: var(--button-font-color-active) 0px 0px 10px 0px !important;
}
