.upVote-btn,
.downVote-btn,
.TotalComment-btn {
  display: inline-flex;
  border: none;
  background-color: transparent;
  width: 50px;
  height: 25px;
  color: var(--button-action-color);
}
.upVote-btn > p > a,
.downVote-btn > p > a,
.TotalComment-btn > p > a {
  margin-right: 10px;
  font-size: 20px;
  color: var(--button-action-color);
}
.TotalComment-btn:hover {
  cursor: default;
}
.btn-theme-toggler {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.btn-theme-toggler:hover {
  background-color: white;
  border: none;
  color: #000;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
}
.addNewThread-btn {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
  border: none;
  background-color: transparent;
  color: var(--button-action-color);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 40px;
  font-weight: 500;
  cursor: pointer;
}
