/* Login Page Section */
.login-page-container,
.register-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 100%;
  transition: var(--transition);
}
.page-title > h1 {
  font-size: 50px;
  font-weight: 600;
  margin-top: 150px;
  margin-bottom: 20px;
}
.email-input > input,
.password-input > input,
.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--border-color) solid 1px;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  width: 350px;
  color: var(--font-color);
  margin: 10px 0px;
}
.login-button,
.register-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--button-background-color) solid 1px;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--button-background-color);
  width: 350px;
  color: var(--button-font-color);
  margin: 10px 0px;
}
.login-button:hover,
.register-button:hover {
  box-shadow: var(--button-box-shadow) 0px 0px 10px 0px;
}

/* Register Page Section */

.name-input > input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--border-color) solid 1px;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  width: 350px;
  color: var(--font-color);
  margin: 10px 0px;
}

/* Main Page Section */

.main-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  color: var(--font-color);
  width: 100%;
}
.container-kategori:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
}

.container-threads:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}

.container-leaderboards:nth-child(3) {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
}
.container-kategori {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
  width: 350px;
  height: 893px;
  transition: var(--transition);
}
.container-threads {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 893px;
  margin: 0px 20px;
  transition: var(--transition);
}
.thread-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0px;
  margin-top: 70px;
}
.container-leaderboards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-top-left-radius: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
  width: 350px;
  height: 893px;
  transition: var(--transition);
}

/* Detail Page Section */
.detail-page-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  background-color: var(--background-color);
  color: var(--font-color);
  transition: var(--transition);
}
.detail-page-container > .container-leaderboards:nth-child(1) {
  order: 0;
  flex: 0 1 auto;
  align-self: stretch;
}

.container-detail-threads:nth-child(2) {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
}
.detail-page-container > .container-leaderboards {
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
  width: 350px;
}
.container-detail-threads {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0px 20px;
}

/* New Thread Page Section */
.newThread-container-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--font-color);
  height: 650px;
}
.newThread-container-page > .row {
  width: 750px;
}
.newThread-container-page > .row > .col > .page-title {
  margin-bottom: 20px;
}
.newThread-container-page > .row > .col > .page-title > h5 {
  font-size: 25px;
  font-weight: 600;
}
.newThread-container-page > .row > .col > .judul-input > input,
.newThread-container-page > .row > .col > .kategori-input > input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--border-color) solid 1px;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.02);
  width: 100%;
  color: var(--font-color);
  margin: 10px 0px;
}
.newThread-container-page > .row > .col > .body-input > textarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--border-color) solid 1px;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(217, 217, 217, 0.02);
  width: 100%;
  color: var(--font-color);
  margin: 10px 0px;
  height: 150px;
}
.newThread-container-page
  > .row
  > .col
  > .addNewThread-container-action-button
  > .addNewThread-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: var(--border-color) solid 1px;
  gap: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--button-background-color);
  width: 100%;
  color: var(--button-font-color);
  margin: 10px 0px;
  cursor: pointer;
}
.newThread-container-page
  > .row
  > .col
  > .addNewThread-container-action-button
  > .addNewThread-button:hover {
  box-shadow: 0px 0px 5px var(--button-box-shadow);
}
